[2015-05-30 15:33] mjordan opened #1 "Breadcrumb reaction doesn't work with Islandora objects"
The "Breadcrumb" reaction that ships with the contrib Context module doesn't work with Islandora objects. To replicate the behavior of this plugin, which is to replace a page's breadcrumb with the link to the selected menu item, we could probably implement  hook_islandora_breadcrumbs_alter() to replace the breadcrumbs generated by Islandora with a link to the selected menu item. Won't do that unti

[2015-05-31 13:27] mjordan commented on #1
One possible use case would be to display a breadcrumb trail containing links to its parent collections. If building this list could be made performant, this reaction might be useful to those sites that have turned of "Render Drupal breadcrumbs" for scalability reasons. Might go like this:
1. Get object's parent collection PIDs
2.  For each of the collections, do the following query to get the cor

[2015-05-31 16:43] mjordan commented on #1
Tried this in the breadcrumb branch, but for some reason drupal_set_breadcrumb is not working.

[2015-06-19 20:33] mjordan opened #2 "Add reaction to restrict object by client IP address"
To be used in conjunction with the namespace, etc. conditions.

[2015-06-24 03:55] #2 closed

[2015-06-25 18:25] mjordan opened #3 "Add support for redirecting to ezproxy to restrict object by client IP address condition"
Similar to https://jira.duraspace.org/browse/ISLANDORA-1312.

[2015-08-05 16:54] mjordan opened #4 "Add a reaction that loads a different viewer"
As discussed at the Islandora Con 2015 Intro to Solution Packs workshop.

[2015-08-13 15:26] bradspry opened #5 "SOLR metadata caching issue when 'context_ui' blocks set to default '1' (cache per role)"
Witnessed a caching issue between objects when using a SOLR Metadata reaction: the same metadata was appearing on two different objects... and the metadata datastreams were truly different.

I had previously encountered a similar caching issue with Compound Object blocks, and solved it by setting the blocks not be cached.

In Drupal's 'block' table, I went looking for 'context' blocks, and sure en

[2015-08-14 16:28] bradspry commented on #5
<pre>
Here's a detailed breakdown of what I touched in the process of eliminating cache issue:
1. In Drupal's 'cache' table, I found an entry for 'context'.   The expire value for the entry was set to '0' (never expire).   I noted a islandora_solr related entry in the table, with a value set to '-1'.   Thinking that '-1' indicated "never cache", I set the context cache entry to '-1'.

After changi

[2015-08-14 16:56] mjordan commented on #5
@bradspry I'm at another conference right now so can't take a detailed look at this issue until next week, but your thorough troubleshooting and testing will prove invaluable. Thanks!

[2015-08-20 17:04] mjordan commented on #5
@bradspry I'm probably missing something, but the 'context_ui' blocks are only used to configure the contexts, they are not in play when end users view the output of a context reaction. You can disable the context_ui module and contexts still work. You say that "I set all four 'context_ui' blocks I found to '-1' (do not cache)" -- did you also set the 'context' blocks to -1? If not, I am wondering

[2015-08-20 21:03] bradspry commented on #5
Unable to reproduce today...

I set the 'context_ui' blocks back to '1' (cache per role), even enabled context's 'debug' setting; I still was unable to reproduce the issue...

I absolutely originally saw it, so did my metadata librarian, he spotted it before me...  The effect was:
1. Load a object containing islandora_context SOLR reaction
2. Load a second object containing the same islandora_cont

[2015-08-21 02:38] mjordan commented on #5
Thanks for the update. If you set "Cache blocks" in the performance settings, can you replicate then?

I'll test on my end as well, now that you have narrowed down the problem so specifically.

[2015-08-22 15:33] mjordan commented on #5
Just did some testing (as the admin user) and I can't replicate the cached metadata display on my dev laptop copy. `cache  from block where module = 'context_ui';` shows 1 for all rows, "Cache blocks" in Configuration > Performance is on, and I have a context that checks for both content model and collection membership whose reaction is to display a specific Solr metadata display viewer. I viewed

[2015-08-24 16:32] bradspry commented on #5
@mjordan I will keep an eye on this, I'm sorry I failed to take a snapshot (drush vget) of all of the variables in play at the time of the anomaly...

Please close this issue for now; it can serve as landing place if anyone experiences the issue.

<B

[2015-08-24 16:36] mjordan commented on #5
No problem. If you saw it once, it happened, so I suspect that the issue will come up again. Closing for now.

[2015-08-24 16:36] #5 closed

[2015-11-02 19:46] bradspry opened #6 "Description-related bug in islandora_context_reaction_display_solr_metadata"
Islandora Context is not respecting the Description configuration as set in solr_metadata_configuration.

Recorded screencast to best demonstrate the bug:
http://screencast.com/t/fk1bXITg

[2015-11-02 22:24] mjordan commented on #6
@bradspry, :+1:  on using a screencast as bug report/how to replicate.

Thanks for reporting, I'll try to investigate by the end of the week.

[2015-11-03 05:49] mjordan commented on #6
@bradspry I've added a "Use the corresponding Islandora Solr Metadata description" reaction to the issue-6 branch. Note that you must choose the "Use an Islandora Solr Metadata configuration" reaction and this new one separately. The "Use the corresponding Islandora Solr Metadata description" reaction does not use an options form (it gets associated with the selected metadata display automatically

[2015-11-03 15:43] bradspry commented on #6
@mjordan Yes Sir, you've done it, it works as expected!

The smile on my Metadata Librarian's face this morning when he saw his vision and configuration come to life was priceless :-D

[2015-11-03 16:50] mjordan commented on #6
Excellent. I'll merge that branch into 7.x later today.

[2015-11-03 16:50] #6 closed

[2015-11-03 19:27] mjordan commented on #6
Merged. Thanks for helping with this @bradspry.

[2015-11-03 20:01] bradspry commented on #6
Thank You Very Much @mjordan

Beyond words, I really appreciate your hard work!!!

"Mark" of Excellence!!!

[2015-11-04 17:13] bradspry opened #7 "Plugin "islandora_context_reaction_display_solr_metadata_description.inc" doesn't Omit Empty Values, displays dc.description instead"
Example:
1. "Omit Empty Values" is checked in islandora_solr_metadata:
admin/islandora/search/islandora_solr/metadata

2. If metadata display config has "mods_abstract_ms" defined as description field

What is supposed to display:
Nothing, because "Omit Empty Values" is checked in islandora_solr_metadata

What is being displayed:
Islandora Context is seemingly ignoring "Omit Empty Values" and disp

[2015-11-05 06:18] mjordan commented on #7
Thanks, will investigate.

[2015-11-10 05:28] mjordan commented on #7
@bradspry working on this. Can replicate issue, but no positive results yet.

[2016-01-26 23:46] mjordan opened #8 "Have collection membership condition apply to children"
Currently, this condition doesn't apply to pages of books and newspaper issues, and children of other compound objects. It needs to.

[2016-02-09 17:32] bradspry opened #9 "Add solr metadata configuration support for islandora_solution_pack_entities"
Context does not successfully apply defined solr metadata configuration to islandora:personCModel objects.

Conditions are successful, however triggers for solr metadata configuration do not work as expected.

[2016-02-16 16:41] mjordan opened #10 "Reimplement IP access by namespace"
We should be using hook_islandora_object_access() and hook_islandora_datastream_access() to provide access control. Work started in issue-10 branch.

[2016-02-17 04:04] #10 closed

[2016-03-01 01:15] mjordan opened #11 "Add a reaction that removes the metadata display from an object"
Perhaps via theming, or manipulating the render array?

[2016-03-30 15:08] bradspry commented on #9
@mjordan, I discovered the source of the problem today, and it's not islandora_context...

Metadata display is set to "display:none" in [islandora_solution_pack_entities' islandora-person.css](https://github.com/Islandora/islandora_solution_pack_entities/blob/7.x/css/islandora-person.css#L47-L49) :weary:

[2016-03-30 15:08] #9 closed

[2016-03-30 15:32] mjordan commented on #9
OK, thanks for letting me know.

[2016-03-30 15:33] mjordan commented on #4
Related JIRA ticket: https://jira.duraspace.org/browse/ISLANDORA-1554

[2016-04-19 14:39] mjordan opened #12 "Add a condition that checks to see if no book viewer is enabled."
Use case: IA BookReader is just too slow for us so we need to enable no book viewer. If we do that we want to be able to display a block when a user is looking at a book so we can add a message to describe what they're seeing.

[2016-04-19 15:03] #12 closed

[2016-04-28 15:47] mjordan opened #13 "Restrict to IP address reaction should have option for excluding thumbnails"
IP restricted objects in search results do not show a thumbnail. Provide an option to allow thumbnails to be excluded from the IP restriction.

[2016-04-28 20:26] mjordan opened #14 "Restrict to IP address reaction should check for blank lines in list of IP ranges"
Otherwise you get errors like `Notice: Undefined offset: 1 in IslandoraContextReactionRestrictByIp->check_ip() (line 90 of /var/www/html/sites/all/modules/islandora_context/plugins/islandora_context_reaction_restrict_by_ip.inc).`.

[2016-05-20 04:06] mjordan opened #15 "Make collection membership 'ancestors' if they are indexed in Solr."
If ancestor information is indexed in Solr, it should be used to determine collection membership.

[2016-05-20 04:07] mjordan commented on #7
@bradspry I'm afraid this one has gotten the better of me. I simply cannot figure out why this is happening.

[2016-05-20 04:19] mjordan opened #16 "Parent metadata display reaction should work with Solr Metadata displays not managed by this module"
The "Display the metadata of an object's compound parent" reaction works with default DC and Solr metadata display configurations managed by this module, but not with Solr metadata display configurations managed defined by content model by the Solr Metadata module.

[2016-05-20 06:11] mjordan opened #17 "Restrict access to an object IP address should allow exceptions for specific roles"
E.g., admin role should be able to access objects regardless of IP address.

[2016-06-05 16:18] mjordan opened #18 "Clarify function of the "Apply to all Islandora objects" option in the "Is Islandora Object" condition"
Exactly what this does is not clear.

[2016-07-22 21:26] mjordan opened #19 "Use Context to provide fine-grained permissions on managing objects"
Use case here is to allow users having a specific role to manage all objects in a specific collection. It might be possible to use implementations of `hook_menu_alter()` within Islandora Context to provide permissions to do this, e.g.,

[code]

as suggested in http://drupal.stackexchange.com/questions/50017/altering-access-callback-in-hook-menu-alter.

[2016-07-31 17:07] mjordan opened #20 "islandora_context_condition_no_book_viewer.inc missing"
Watchdog contains the following entry: "Plugin islandora_context_condition_no_book_viewer of plugin type context:plugins points to nonexistent file sites/all/modules/islandora_context/plugins/islandora_context_condition_no_book_viewer.inc for class handler handler." The file is indeed missing.

[2016-08-01 14:12] mjordan commented on #20
This condition was specific to an SFU use case, and since no one else reported the missing file, I'm removing reference to it in the README.

[2016-08-01 14:12] #20 closed

[2016-08-01 14:28] mjordan commented on #13
Users outside the allowed IP ranges can now see objects' thumbnails. If anyone has a use case for making this optional, please open a new issue.

[2016-08-01 14:28] #13 closed

[2016-08-01 16:10] #3 closed

[2016-08-01 19:41] #14 closed

[2016-08-01 19:53] mjordan commented on #18
Removed that option, since It appeared to be redundant.

[2016-08-01 19:53] #18 closed

[2016-08-01 22:39] mjordan commented on #4
Added `islandora_context_reaction_use_viewer.inc` and integration point in `islandora_context_preprocess_islandora_basic_image()`. Unfortunately, this integration point is specific to a content model. It would be great if we could use `islandora_context_preprocess_islandora_default()` but it isn't working the way I expect it to - I can't seem to invoke it as expected.

A test viewer is available a

[2016-08-18 11:39] mjordan opened #21 "Thumbnails should be visible to all users, regardless of IP range restrictions"
TN datastreams should always show up, e.g. in search results.

[2016-08-19 12:31] mjordan commented on #21
Tests on my local environment show that this is working as expected. Thumbnails are not showing up when going through ezproxy, but this might be because of the ezproxy rule, not because of Islandora. I will follow up on this hunch.

[2016-08-19 12:36] mjordan commented on #21
If we can't make an exception for URLs that contain 'TN', maybe we should provide a generic "Access restricted" thumbnail and replace the object-level one with it?

[2016-08-19 13:10] mjordan commented on #21
Problem was the proxy redirect added in #3. Resolved.

[2016-08-19 13:10] #21 closed

[2016-08-23 16:51] bradspry commented on #7
@mjordan, here is an updated analysis, with more detail than ever before:
http://screencast.com/t/7hwKIYjTR

If an object's metadata does not contain data in the defined islandora_solr_metadata/config description field, Islandora Context completely fails over to Islandora's core DC display function:
islandora/theme/islandora-dublin-core-description.tpl.php

From the screencast:

Object that doesn'

[2016-08-24 22:05] mjordan commented on #7
@bradspry thanks for the tip. I'll take another look at this when I return from vacation next week.

[2016-08-28 15:56] mjordan commented on #7
@bradspry can you test the issue-7 branch?

[2016-08-28 16:00] mjordan opened #22 "Restrict to IP address reaction should splits ln PHP_EOL"
PHP_EOL defines the server-side EOL marker, not the EOL that is added by the user's browser

[2016-08-28 16:05] mjordan commented on #22
Fixed with 8a517f5ed1e43fb4b70af9820ed3a91208e01ef8.

[2016-08-28 16:05] #22 closed

[2016-08-29 18:10] bradspry commented on #7
@mjordan Setting up test now.

[2016-08-29 18:45] bradspry commented on #7
@mjordan Apparently it works like a charm!

Below is a previously affected object; it was completely failing over to dc:description.

With the issue-7 branch code applied, no description whatsoever is displayed:
https://island1.uncc.edu/islandora/object/motorsports%3A2189

That's exactly how we expect it to work!  issue-7 branch did the trick!

We will continue to test today and let you know if we

[2016-08-29 19:17] mjordan commented on #7
Frickin' saweeet. Report back when you've finished testing and I'll merge issue-7 into 7.x.

[2016-08-29 21:14] bradspry commented on #7
@mjordan More testing:

Object with no mods.abstract, no description whatsoever displays:
https://island1.uncc.edu/islandora/object/motorsports%3A5367

Object with mods.abstract data, description displays:
https://island1.uncc.edu/islandora/object/motorsports%3A5422

It is working really great!    My recommendation is to merge 👍 👍

Thank You Again!!!

[2016-08-30 00:06] mjordan commented on #7
Merged!

[2016-08-30 00:06] #7 closed

[2016-09-08 21:33] mjordan opened #23 "Add support to Restrict to IP address reaction for requests from Islandora REST API"
Requests via the [Islandora REST API](https://github.com/discoverygarden/islandora_rest) need to be controlled by the Restrict to IP address reaction.

[2016-09-09 15:50] mjordan commented on #23
Closed with ba7cf36d9696c0402a86a15dfafa3ce4008b3f4e.

[2016-09-09 15:50] #23 closed

[2016-09-23 23:02] mjordan opened #24 "Add check to see if ISLANDORA_REST_DATASTREAM_GET_PERM is defined"
If islandora_rest isn't enabled, we get errors.

[2016-09-23 23:03] mjordan commented on #24
Fix currently undergoing testing.

[2016-10-09 14:47] mjordan opened #25 "Add a reaction that restricts view access"
We have  reaction that restricts view access based on the user's IP address, but we should have a reaction that restricts access that is decoupled from any specific type of "condition". This would allow us to use arbitrary conditions to restrict access.

We should retain the current restrict by user's IP address reaction because of the logic around redirecting to a proxy page.

[2016-10-17 13:34] mjordan opened #26 "Add a condition and reaction to allow the use of arbitrary XML forms"
Currently, an XML form is associated with a content model. It would be extremely useful to specify that a form can be used with a collection, or with a combination of collection and content model.

[2016-10-19 16:22] whikloj opened #27 "Throws errors if Islandora Solr Metadata is not enabled"

[2016-10-19 20:13] mjordan commented on #27
@whikloj, thanks, will smoketest this evening.

[2016-11-01 14:17] MarcusBarnes commented on #24
@mjordan Would I be able to help test?  I know someone who is testing islandora_context and they are seeing this issue.  It would be great if it could be resolved.  Thanks.

[2016-11-04 14:16] mjordan commented on #24
@MarcusBarnes yes, that would be great. I'll push up a branch with a fix after I do some additional testing on my end.

In the short term, as a workaround for this, they could install the [Islandora REST module](https://github.com/discoverygarden/islandora_rest), which defines ISLANDORA_REST_DATASTREAM_GET_PERM.

[2016-11-04 14:47] mjordan commented on #24
@MarcusBarnes fix is in the issue-24 branch, ready to test. To do that:
1. Create a Context with a condition, say PID Namespace (any condition will do).
2. Add to this Context the reaction Users IP Address, and configure an IP range that does not include the IP that you are testing from (i.e., you want to be denied access during this test).
3. Save the Context.
4. Attempt to access an object that

[2016-11-05 16:20] mjordan commented on #27
Thanks again @whikloj, sorry "this evening" stretched into 17 evenings....

[2016-11-05 16:20] #27 closed

[2016-11-16 04:33] mjordan commented on #24
Some [recent changes](https://github.com/discoverygarden/islandora_rest/commit/8ccaa23af7c4b8d6a84f6079dc216b51b4fea475) to Islandora REST may make this fix unnecessary.

[2016-11-16 15:53] mjordan commented on #26
Looks like content models are baked into XML form associations pretty deeply. Closest mechanism I can see that would allow more control over which forms appear in the object ingest/edit workflow is to filter or add to the list of forms users are presented. islandora_xml_forms/builder/xml_form_builder.module populates this list in its implementation of hook_islandora_ingest_steps(). xml_form_builde

[2016-11-16 16:36] MarcusBarnes commented on #24
Given the changes to Islandora REST, is it reasonable to require people who use Islandora REST to update that module should they start using Islandora Context?   I've tested using using the instructions in https://github.com/mjordan/islandora_context/issues/24#issuecomment-258451075 within an environment that doesn't have Islandora REST installed.  I got the access denied message as expected, but

[2016-11-16 16:40] mjordan commented on #24
I think it's completely reasonable to require the latest version of Islandora REST (or at least a minimum version). I'll test with that version and also investigate the PHP notice.

[2016-11-16 16:46] MarcusBarnes commented on #24
Thanks.  I was thinking that requiring an update to Islandora REST would simply the workaround for those who have Islandora Context installed but not Islandora REST.

[2016-12-07 21:25] MarcusBarnes commented on #24
This [answer](http://stackoverflow.com/a/6576365/850828) provides a way to deal with the notices mentioned in  my [comment above](https://github.com/mjordan/islandora_context/issues/24#issuecomment-260997454).  See https://github.com/mjordan/islandora_context/blob/7.x/plugins/islandora_context_reaction_restrict_by_ip.inc#L114 for the bit of code that is generating the notice.  The notice is not re

[2016-12-07 21:31] mjordan commented on #24
Given that I haven't had a chance to test the effects that the new changes to the Islandora REST module have on this problem, maybe I can implement the fix for the notice that you link to in the previous comment. Would that be a good short-term action?

[2016-12-07 21:48] MarcusBarnes commented on #24
That fix is only for the notice generated when using restrict by IP plugin - it's should be a separate github issue.  For a project I'm helping on that requires islandora_context, we don't require Islandora REST - the fix you have in the issue-24 branch works for us.

[2016-12-07 23:09] mjordan commented on #24
OK, sorry - if you can open an issue for the notice fix, I'll work on it. I'm also happy to merge issue-24 now and then later take a look at the recent changes to Islandora REST.

[2016-12-07 23:18] mjordan commented on #24
@MarcusBarnes just smoke tested issue-24 on our IP-restricted collection and it works as intended. Merged with 995ccbcbb60a4961e78618a787ff1d1609c73ed2.

[2016-12-08 14:41] MarcusBarnes opened #30 "Undefined offset notice when using restrict by IP plugin"
When creating a context reaction using the restrict by IP plugin, the following notice is generated:
[code]
This [answer](http://stackoverflow.com/a/6576365/850828) provides a way to deal the code that is generating the notice.

[2016-12-08 15:08] MarcusBarnes commented on #24
@mjordan As requested, I opened issue #30 to track work related to resolving the notice generated when using the restrict by IP plugin.  Thanks again for this awesome module!

[2016-12-08 15:59] mjordan commented on #24
Thanks, closing this one.

[2016-12-08 15:59] #24 closed

[2016-12-08 16:04] mjordan commented on #30
@MarcusBarnes would you mind posting the value of the "Allowed IP ranges" field in your reaction (with fake IPs if you want) that is triggering this notice, or send the real ones to me via email?

[2016-12-08 16:11] MarcusBarnes commented on #30
@mjordan Sent you some details via Skype messaging.

[2016-12-08 19:55] MarcusBarnes commented on #30
This error appears should the user not provide an IP range as expected, but rather just a single IP.

[2016-12-12 15:56] #30 closed

[2016-12-12 15:58] mjordan opened #32 "Allow single IPs in restrict by IP pluging"
As per discussion at https://github.com/mjordan/islandora_context/pull/31, allow single IP addresses to be whitelisted.

[2016-12-12 21:44] whikloj opened #33 "iTQL is dead, use Sparql instead"
We've moved to using an external Blazegraph triplestore and the Smithsonian's trippi-sparql connector. Unfortunately this only allows us to use Sparql queries.
Therefore queries [like this](https://github.com/mjordan/islandora_context/blob/ba7cf36d9696c0402a86a15dfafa3ce4008b3f4e/plugins/islandora_context_condition_collection_member.inc#L95) cause Exceptions and these occur even when the context y

[2016-12-12 21:53] mjordan commented on #33
Hm, not good. Running that query if the plugin is not active is definitely a bug, but it would be great to replace all itql queries with proper SPARQL queries.

[2016-12-12 22:00] mjordan commented on #33
Maybe replace the offending function with https://github.com/Islandora/islandora_solution_pack_collection/blob/7.x/includes/utilities.inc#L210, at the risk of introducing a dependency on the Basic Collection SP?

[2016-12-12 22:06] whikloj commented on #33
You could try that, as I said I haven't used this context so I'm not sure what the interface is. If you get all collections and provide checkboxes that might not save you anything, but if you are doing a search box you could reuse that code.

[2016-12-12 22:07] mjordan commented on #33
If you've already got the SPARQL done, let's go with that. I'll give it a quick test here before merging if that's OK just to make sure there's no backwards breakage. Thanks!

[2016-12-12 22:17] mjordan commented on #33
Smoke test passes, will merge. Thanks for catching and fixing this @whikloj !

[2016-12-12 22:18] #33 closed

[2016-12-13 04:07] mjordan commented on #32
@MarcusBarnes I've tested this in production and it works using a list of IP addresses like

[code]

I've also updated the help text to

[2016-12-13 04:07] #32 closed

[2017-01-20 19:03] nate-rcl opened #36 "Description does not show up for collections"
1.  Add description to collection
2. Go to collection solution pack administration
3. Uncheck hide description
4. Go to collection - description not shown

[2017-01-20 19:08] mjordan commented on #36
@nate-rcl what Context condition and/or reaction are you using?

[2017-01-20 19:18] nate-rcl commented on #36
@mjordan

We have installed the islandora solution pack and then set Islandora Metadata display to "Islandora Solr Metadata managed by the Islandora Context module" which was previously set to "Islandora Solr Metadata"

I then go to the islandora collection solution pack and scroll down to METADATA DISPLAY and check "Display object metadata".

It gives me the option to hide and display Object Cont

[2017-01-20 19:31] nate-rcl commented on #36
@mjordan I made a pull request that fixed it for our install

[2017-01-24 15:13] mjordan commented on #36
PR #37 merged.

[2017-01-24 15:13] #36 closed

[2017-01-27 19:52] nate-rcl opened #38 "A description shows up even when it is not set in solr metadata"
It looks like for the islandora_context_solr_metadata_description_callback the method must return false for collection models (islandora:collectionCModel) and an empty string for other objects.

[2017-03-14 16:59] mjordan opened #40 "Add a reaction to generate only specific derivatives or to skip generation of specifc derivativess"
Use case here is for collections that are private, and that do not require the creation of all datastreams. For example, SFU is planning on storing content in Islandora that has been digitizited for preservation only and is not going to made public. For this content, it would be useful to only generate TNs and not generate other derivatives.

[2017-03-14 17:29] mjordan opened #41 "Add a pull request template"
Like other repos have.

[2017-03-15 15:13] mjordan commented on #41
Closed with 8336090f8657d6af8b20becba32034e6f90cf60a.

[2017-03-15 15:13] #41 closed

[2017-03-17 02:23] mjordan commented on #40
Closed with 0a8f1dc80a67a97fb9e31f5e27fc6060340495f1.

[2017-03-17 02:23] #40 closed

[2017-04-01 20:23] mjordan opened #42 "Add wildcards to Islandora Relationship condition"
The configuration options for the Islandora Relationship condition require specific values:

-
- Predicate URI (Enter the predicate URI of the relationship, e.g. info:fedora/fedora-system:def/model#.)
- Predicate (Enter the predicate of the relationship, e.g., hasModel.)
- Relationship values to activate this condition (Set this condition when one or more of the relationship values in this list ap

[2017-04-27 21:38] petermacdonald opened #44 "watchdog messages"
I have the Islandora Context module enabled on Islandora 7x.1-7 and I use to configure the display of metadata for Compound objects and it works great for that purpose.

However, when ingesting a zip file of newspaper issues and pages my watchdog error log gets full of notices involving the islandora_context.module (20 or more per minute during the ingest):

**Notice: Undefined index: action in is

[2017-04-27 21:39] mjordan commented on #44
Peter, is it possible for you to share one of the zip files with me for testing? I can arrange a place for you to upload it if necessary.

[2017-04-27 23:25] MarcusBarnes commented on #44
@petermacdonald Is this happening with the the latest commit https://github.com/mjordan/islandora_context/commit/7a8bc7eb3692d54d78d1363bb07b0946144aca99?

[2017-05-05 17:52] bondjimbond opened #45 "Add PID to collection list when setting collection membership condition"
Currently, when setting the "collection membership" condition, Context provides a list of collections that can be selected. This only presents the collection label, which may be ambiguous. Preferably the label would also include the collection PID (in parenthesis) next to the label, making it easier to work with.

[2017-05-05 17:55] bondjimbond commented on #45
Also: what determines the ordering of collections in this list?

[2017-05-11 14:19] mjordan commented on #45
The list is generated by a SPARQL query which is unsorted, so whatever the default sort order is for SPARQL/the Resource Index is what we get. How would you like to see it sorted, alpha by collection name?

[2017-05-11 14:27] mjordan commented on #45
@bondjimbond I've added the PID and sorted by collection title/label. Please take a look. If you're thinking about another sort, let me know. Can you test the issue-45 branch by creating a new context using collection memebership? You may need to clear your cache first.

[2017-05-11 14:29] mjordan commented on #44
@petermacdonald just following up on this issue - did @MarcusBarnes fix solve the problem?

[2017-05-11 16:44] petermacdonald commented on #44
I haven't yet tried to reproduce my problem on the latest commit of the
module. I only get "notices" so I'm not urgently concerned.

But I do want eventually to test it. It happens with book batch and
newspaper batch ingests from the Islandora GUI or the command line.

Sorry for the delay. I'll try to get to it soon.

Peter MacDonald

On Thu, May 11, 2017 at 10:29 AM, Mark Jordan <notifications@gi

[2017-05-11 16:45] mjordan commented on #44
No problem, but please let us know if the problem persists after you update code.

[2017-05-12 21:14] bondjimbond commented on #45
Checked out the branch, works nicely for me. Thanks!

My preferred sort - I'd actually lean toward alphabetical sorting by PID, which would group namespaces and give you alpha sort on the collection ID (which is typically alpha anyway). But someone who uses namespaces differently from my multisite context might have a different opinion.

[2017-05-12 21:18] mjordan commented on #45
Thanks for testing. Assuming that most sites aren't multisite, and knowing that I'm lazy, I'd like to leave the sorting as is, by title. That OK? If so, I'll merge now.

[2017-05-12 21:28] bondjimbond commented on #45
Laziness is powerful. I can accept that. 👍

[2017-05-12 21:35] mjordan commented on #45
Great, thanks. Merged with a807a0c3b3006a88c65f6d3fc304abcc688fe9af.

[2017-05-12 21:35] #45 closed

[2017-06-06 14:48] mjordan opened #47 "Reactions fired in islandora_context_islandora_view_object_alter() fire multiple times"
Reactions that are fired in islandora_context_islandora_view_object_alter() are fired multiple times. For example, here is a screenshot of "Display metadata of a compound object's parent" reaction: ("Is part of" is rendered twice):

![islandora_context_issue47](https://cloud.githubusercontent.com/assets/403918/26835324/f02eb48a-4a8c-11e7-93af-5182fd0a9120.png)

[2017-06-07 16:44] mjordan commented on #47
Merged into 7.x with d7c58e45420fa7856d4ab73d388d962af93a7bb5. Known limitation added to README:

[2017-06-07 16:44] #47 closed

[2017-07-14 13:41] bencomp commented on #36
It looks like PR #37 is a reversal of the solution for issue #7. I've been looking into this as we're experiencing something very similar to what @bradspry was experiencing, only for the metadata fields display. I'll open another issue for that, but this reversal got my attention when looking into how #7 was solved.

[2017-07-14 14:03] mjordan commented on #36
@bencomp please do, I'll take a look over the weekend.

[2017-07-14 15:40] bencomp opened #48 "Solr Metadata display profile ignored in active context, falls back to DC metadata display"
We installed Islandora Context to enable using a different Solr metadata display configuration for posters (Large Image objects) in a particular collection than for large image object in all other collections. We have separate MODS-based display configurations for all content models and before installing Islandora Context (IC), each configuration was associated with its corresponding content model

[2017-07-14 16:39] mjordan commented on #48
@bencomp thank you for catching this. I will investigate this weekend.

[2017-07-24 18:44] mjordan commented on #36
@bencomp you are correct, it does appear that PR #37 reverses changes made for issue #7. Sorry about that. I'm going to see if the fix for #7 solves your problem.

[2017-07-27 02:28] mjordan commented on #48
@bencomp can you test the issue-48 branch? If it works for you, I am going to ask @bradspry to test to confirm that #7 has not returned from the dead, and @nate-rcl to ensure that #36 has also not returned, zombie-like, and that #38 is not longer a problem.

[2017-07-27 02:38] mjordan commented on #44
@petermacdonald mind if I close this issue?

[2017-07-27 09:57] bencomp commented on #48
@mjordan this appears to work like a charm 😄 I hope it (still) works for the others too.

I see the metadata for the posters within the context as expected, for objects in the other context too and objects that trigger no contexts to be active use their associated Solr metadata configuration. I guess I can get rid of the 'fallback' context for large image objects that are not posters.

[2017-07-27 13:54] mjordan commented on #48
Super, I am glad to hear that. @bradspry and @nate-rcl I'd like to go with this approach, which falls back to Solr Metadata's configuration if a context is not active. Can you test the issue-48 branch? If no issues arise I'd like to merge this on Monday, before I go on vacation.

[2017-07-28 01:12] petermacdonald commented on #44
I haven't had time to do more testing to date. So close it for now. I just
updated all our modules and will get
 back to using tjis module eventually.

thanks for asking.

Peter

On Wednesday, July 26, 2017, Mark Jordan <notifications@github.com> wrote:

--
Peter MacDonald,
Library Information Systems Specialist
Hamilton College Library
Clinton, New York
315 859-4493
pmacdona-hamilton (Skype)

[2017-07-28 18:33] nate-rcl commented on #48
@mjordan I'm not going to get a chance to test by monday - but I'd say go ahead and merge - I'll test the released version when I get a chance.

[2017-07-28 18:35] mjordan commented on #48
OK, thanks very much. I'll wait to see if @bradspry is cool with merging.

[2017-07-28 18:36] mjordan commented on #44
OK, thanks!

[2017-07-28 18:36] #44 closed

[2017-08-16 16:31] mjordan commented on #48
@bradspry I'd love to merge this, but since you've got some skin the in the game it would be great if you could give it a quick smoketest.

[2017-09-15 18:37] mjordan commented on #11
Or inject CSS that makes the metadata display invisible?

[2017-09-17 14:58] mjordan commented on #48
Closed with 733cc4301f06ec944987e78e82a7922ee8bf6ded.

[2017-09-17 14:58] #48 closed

[2017-09-17 15:58] mjordan commented on #11
Closed with 8d1250b7c407226903652ca5b15ee6f7fbd94171.

[2017-09-17 15:58] #11 closed

[2017-09-18 00:46] mjordan commented on #25
... and this must apply to datastream view access as well.

[2017-09-18 00:51] mjordan commented on #38
@nate-rcl is this still an issue, after the resolution of #48?

[2017-09-18 14:59] mjordan commented on #4
Looks like `islandora_context_preprocess(&$variables, $hook)` might work for all content models, since it will let us override `$variables['islandora_content']` in all cases.

[2017-11-10 23:51] mjordan opened #49 "Add a condition to test the OBJ's mimetype"
Useful for HTML in the XML Solution Pack, for example.

[2017-11-10 23:52] mjordan commented on #19
Closing, since https://github.com/discoverygarden/islandora_access_override provides this functionality on a collection level.

[2017-11-10 23:52] #19 closed

[2017-11-11 16:02] mjordan commented on #49
Condition to test any DSID, not just OJB, added with 6cfb32790bb3d66581d3b665de4cb049c652502d.

[2017-11-11 16:02] #49 closed

[2017-11-11 16:03] mjordan commented on #38
@nate-rcl mind if I close this?

[2017-11-13 12:58] nate-rcl commented on #38
@mjordan not at all - sounds good!

[2017-11-13 15:16] #38 closed

[2017-11-20 20:56] mjordan opened #50 "Add reaction to make the "description" div invisible"
Some times you don't want it to show up.

[2018-02-04 19:17] mjordan opened #51 "Parent collections are restricted to IP ranges of children, but only if a proxy URL is provided"
If I have the "User's IP address" context reaction configured and include a proxy URL, the parent collection of any objects that trigger this reaction is redirected to the proxy login page, regardless of whether the collection itself triggers the reaction. This behaviour becomes nasty if the parent is the Islandora root collection, since this messes up things like OAI harvesting.

1. this only hap

[2018-02-04 19:32] mjordan commented on #51
I think this is because when you view a collection that contains a restricted object, parts of the object are viewed (e.g. TN and metadata). It is these parts that are triggering the redirection to the proxy URL.

[2018-02-04 19:49] mjordan commented on #51
It's not the TN, that is unrestricted even if there are IP restrictions in place.

[2018-02-04 23:28] mjordan commented on #51
Resolved with f75ac720a4d8252a50bef6b542e73887cb6eaed1.

[2018-02-04 23:28] #51 closed

[2018-08-13 21:41] kromabiles commented on #50
Just what I was looking for! Looking forward to the addition of this reaction.

[2018-08-15 14:28] mjordan commented on #50
@kromabiles thanks for the upvote on this feature.

Note to @mjordan: the jQuery selector for the Description appears to be `div.islandora-metadata-sidebar > p[property='description']` but more testing is required to see if that is consistent across all content models.

[2018-08-16 14:37] mjordan commented on #50
Grepping through my `modules` directory for the above markup shows occurrences in:

* islandora/theme/islandora-dublin-core-description.tpl.php
* islandora_solr_metadata/theme/islandora-solr-metadata-description.tpl.php

which makes sense. But there may be `<h>` markup between the `<div>` and the `<p>` so the selector should be `div.islandora-metadata-sidebar p[property='description']`.

[2018-08-16 15:00] mjordan commented on #50
We need to test hiding things via JavaScript in different caching scenarios, e.g. when Drupal's "Cache pages for anonymous users" and "Aggregate JavaScript files." options are enabled.

[2018-08-16 15:02] mjordan commented on #50
@kromabiles I've got a reaction in the issue-50 branch that works on my laptop's vagrant, but I'm going to test on a live Islandora instance before I'll ask you to test. Is that OK?

[2018-08-16 15:25] kromabiles commented on #50
Sure! That sounds good to me.

[2018-08-16 16:34] mjordan commented on #50
@kromabiles OK, this new reaction works for me on my test Islandora. Testing this involves a few steps. Depending on how much access you have to the server you are testing on, you may need to get a sysadmin to perform some of these tasks:

1. the new code is in the `issue-50` branch of this Github, so you'll need to be working in that branch during the test (once your test pass, I will merge the i

[2018-08-16 16:40] kromabiles commented on #50
Very exciting. Thanks, Mark! I will check with my team to see when we can
give this a test. Hopefully by tomorrow, but I will keep you updated.

On Thu, Aug 16, 2018 at 9:34 AM, Mark Jordan <notifications@github.com>
wrote:

--
*Katie Romabiles*
Institutional Repository Specialist
Love Library | San Diego State University
5500 Campanile Drive San Diego, CA 92182-8050
(619) 594-7987 | kromabiles@sd

[2018-08-24 16:03] kromabiles commented on #50
The reaction works great! Thanks, Mark.

[2018-08-24 16:13] mjordan commented on #50
Excellent, thanks very much for helping with this. I'll merge that branch and close this issue.

[2018-08-24 16:13] #50 closed

[2018-09-20 17:10] DiegoPino opened #52 ""Is Islandora Object check" is too generic and triggers in wrong situations"
Problem:

https://github.com/SFULibrary/islandora_context/blob/f75ac720a4d8252a50bef6b542e73887cb6eaed1/plugins/islandora_context_condition_is_islandora_object.inc#L74

Which is the first check for an Islandora Object only checks if what is passed is an actual PHP object (any) and if there is an ::id property. Sadly that matches a wide scope of PHP Object Oriented situations.

Correct approach wou

[2018-09-20 21:13] DiegoPino commented on #52
Some updates on this. Where i could reproduce the issue,  it seems to be the derivative alter hook which is used to accumulate possible hooks for an object in our module and other too. The alter hook context here is different to what i was expecting, since it runs reaction in the same place too.

https://github.com/SFULibrary/islandora_context/blob/7.x/islandora_context.module#L570-L613

I think i

[2018-10-01 14:54] DiegoPino commented on #52
Closing since i did not get any feedback. We solved this on our side. thanks

[2018-10-01 14:54] #52 closed

[2018-10-01 15:01] mjordan commented on #52
Sorry @DiegoPino I've been traveling for the last two weeks. Can you provide some additional information on what condition triggered this error? Would a simple check for `is_a()` against a `FedoraObject` be more specific?

[2018-10-01 15:46] DiegoPino commented on #52
@mjordan no worries. Its a general islandora desing issue (sadly). We assume every time we pass an Islandora Object around, that its a full Islandora Object but we require and ask for an Abstract Object only. Abstract Objects, as defined in Tuque don't need to have models or RELS-EXT at all. WE depend a lot on OO class inheritance to allow a generic, in memory only Abstract Object to be created to

[2018-10-01 15:55] mjordan commented on #52
OK, thanks for the explanation. I'm happy to add  a check for a couple of other properties that might not be so common, like `->owner` and `->logMessage`, to provide a better check.

[2018-10-01 19:34] DiegoPino commented on #52
Would really appreciate that, thanks. Any other method you can think of/relay on Context i should fake? Thanks a lot

[2018-10-18 22:38] mjordan opened #53 "Add a reaction to hide "In collections""
Good idea, we already can hide the description. Thread at https://groups.google.com/d/msg/islandora/BsIys6arL7o/8u2EoAkfBQAJ.

[2018-10-19 02:28] mjordan commented on #53
Fixed with f20c8ff98285af1494be08b594c48daba9524b0e.

[2018-10-19 02:28] #53 closed

[2018-11-03 15:07] petermacdonald opened #54 "Installation"
Using Islandora: 7x-1.11

I updated "islandora_context" module today. I removed the old version and cloned the current one. I enabled it along with the "context" module.

I cleared all caches several times, but I don't see "Context" listed in "Structure" menu.

I enabled it on another site as well (we use Drupal's multi-site) with the same problem.

Also, both sites have the following "notice" fro

[2018-11-03 17:16] mjordan commented on #54
@petermacdonald did you also enable the Context UI module? That is the one that provides the menu link. If enabling that module fixes your problem, I'll add it to the README.

About the warning, I'll fix that, it's caused by some code that should have been removed a while ago.

[2018-11-04 15:13] petermacdonald commented on #54
Thanks Mark,

Enabling Context UI did get Islandora Context working.

I tested it by hiding the "Details" for all objects in one of our sites,
but I can't get it to hide the "In collections" div -- I'm not sure why.

My settings for the one that fails are: [Is Islandora object] and [Hide an
object's "In collections" markup].

It works if change the Reaction to: [Hide an object's metadata "Details"

[2018-11-04 17:09] mjordan commented on #54
@petermacdonald I've updated the README that address the initial focus of this issue. Thanks for pointing out that the README needed mention of Context UI. (I've also removed the crufty code that was producing that warning.)

I added the ability to hide the "In collections div" just a couple of weeks ago, and there's a good chance you are the first person to test it other than me. Would you mind m

[2018-11-09 23:54] mjordan opened #55 "Add a condition that allows the admin to define a value in a specific Solr field"
At iCampCA 2018, someone posed a use case where they want to trigger a condition when a Solr field for the object has a certain value (or greater than a certain value or less than a certain value), e.g., datastream file size.

[2019-02-05 13:21] pgmccann commented on #53
Hi, I've just installed islandora_context specifically for this rule. I found that it didn't work for Large Images - adding the following to the JS function sorted it:

[code]

I'll look into some other Content Types when I get the chance.

[2019-02-05 14:57] mjordan commented on #53
@pgmccann that would be awesome. As you have discovered, the markup that this reaction hides varies across solution packs, and I have to admit that I don't often test with every solution pack. If you want to open a pull request I'll test and merge it.

Thanks for using (and debugging) Islandora Context!

[2019-02-15 18:42] bondjimbond opened #56 "Enabling Islandora Context seems to disable tons of other modules"
Today a site enabled Islandora Context, which promptly disabled a pile of other modules. No alert was given. I believe this may have happened to another site a year or two ago. Have you encountered this problem?

[2019-02-16 17:09] mjordan commented on #56
I have not heard this before. Do you know:

1. Did they enable it via the Drupal GUI or the command line (I assume GUI)?
1. What modules were disabled by enabling Islandora Context?
1. Did they enable the core Context already or allow it to be enabled automatically as a dependency when they enabled Islandora Context?

To try to replicate the problem, on a clean Vagrant, I enabled Islandora Context

[2019-03-05 04:52] mjordan opened #57 "Display parent object's metadata reaction does not work with binary object children"
See preliminary explanation at https://github.com/mjordan/islandora_compound_parent_metadata/issues/3#issuecomment-469536326.

[2019-03-10 18:33] mjordan commented on #57
Resolved with 9c43d1f379e4395a1518ea5e450cc0e1aacc4cb3.

[2019-03-10 18:33] #57 closed